# Detection
results/
data/
checkpoint/
work_space/log
Yolo_v2_pytorch/trained_models/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# swrc
swrc/data/AnotherMissOh_Sence_Bi-lang_Subtitle/
swrc/data/AnotherMissOh_Sence_Subtitle/
swrc/data/bi-lang_utter/
swrc/data/demo_example/
swrc/data/stanford-corenlp-4.0.0/
swrc/data/ignore/
swrc/data/output/ignore/
*.props