# Detection
results/
data/
checkpoint/
work_space/log
Yolo_v2_pytorch/trained_models/
jupyter/.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so